header(class="bg-indigo-600 p-4  shadow")
    div(class="container mx-auto flex justify-between items-center")
        h1(class="text-2xl text-white font-bold text-center") Real
            span(class="font-normal") State

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="/") My Properties
            a(href="/properties") My Profile
            a(href="/properties" class="bg-indigo-800 py-2 px-6 rounded-lg") Logout
                